<!-- Box for comments -->
<div
  id="comments-div"
  class="flex-col w-full items-center hidden lg:flex lg:w-1/4 lg:mr-32"
>
  <div class="w-full flex flex-col justify-start text-center items-center">
    <h1 class="text-2xl m-6">Comments</h1>

    <% if (!user.authen) { %>
    <p><a href="/login">Sign in</a> to post a comment</p>
    <% } else { %>
    <form
      action="/collections/comment/<%=collection.collection_id%>"
      method="POST"
      class="w-full flex flex-col justify-center items-center"
    >
      <h2 class="my-4">Leave a comment</h2>
      <div class="flex">
        <input
          type="text"
          name="comment"
          class="rounded-md border border-container border-opacity-45 text-canvas"
          placeholder=" Comment"
        />
        <button class="bg-button text-canvas px-2 py-1 mx-2 rounded-lg">
          Submit
        </button>
      </div>
    </form>
    <% } %>

    <!-- If not comments, show message -->
    <% if (!comments) { %>
    <p class="m-6 flex-1 py-20">No Comments</p>
    <% } else { %>
    <div class="flex flex-col w-96">
      <% comments.forEach((comment) => { %>
      <div class="flex items-center justify-between">
        <div class="flex flex-col items-start text-start p-4">
          <h4 class="italic font-bold">
            <a
              class="underline text-button"
              href="/collections/<%=comment.User.user_id%>"
              ><%= comment.User.username%></a
            >
            says:
          </h4>

          <p><%= comment.comment_body %></p>
        </div>

        <!-- Adding a "delete comment" box if the comment belongs to user -->
        <% if (comment.isMine || user.admin) { %>
        <a class="deletebutton" comment=" <%= comment.comment_id %> ">
          <button class="bg-button rounded-lg text-xs px-2 py-1 h-8 w-16">
            Delete
          </button>
        </a>
        <% } %>
      </div>
      <%}) %>
    </div>
    <% } %>
  </div>
</div>
