<% if (!user.authen) { %>

<div class="self-center flex h-full text-xl items-center justify-center py-28">
  <p>
    <a href="/login" class="underline text-blue-600">Sign in</a> to view your
    collection!
  </p>
</div>
<!-- If not logged in, show sign in prompt -->
<% } else { %>

<!-- Redirecting if collection is empty -->
<% if (collection.Cards.length == 0) { %>
<!-- Middle Section -->
<div class="flex-grow">
  <div class="container mx-auto my-10 flex justify-center items-center h-full">
    <div class="text-center">
      <p class="text-2xl mb-4">Your collection is empty.</p>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
        alt="Pikachu"
        class="w-48 mx-auto"
      />
      <p class="mt-4 text-xl">
        Why not
        <a href="/cards" class="text-blue-500">find some cards</a> to add?
      </p>
    </div>
  </div>
</div>

<%} else { %>
<!-- collection statistics -->
<%- include ("statsBar.ejs") %> <%- include ("cardsCommentsButtons.ejs") %>

<div
  class="grid justify-center items-center gap-6 px-4 lg:px-36 ws:px-96 h-full grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ws:grid-cols-5"
  id="gridDiv"
>
  <!-- Iterating through each pokemon (row in data) and creates a card object each -->
  <% cards.forEach((card) => { %>

  <div
    class="flex flex-col justify-center items-center bg-canvas text-black text-container rounded-lg"
  >
    <!-- Wrapping the whole card a link -->
    <a
      href="/cards/<%= card.card_id %>"
      class="p-4 flex flex-col justify-center items-center hover:scale-105 max-w-96 min-w-72"
    >
      <!-- Card image -->
      <img src="<%= card.card_image %>" />
    </a>

    <!-- Container for brief card details and add button -->
    <div class="flex justify-evenly items-center rounded-lg">
      <!-- Add to collection button -->
      <img
        class="p-2 my-4 max-w-10 min-w-10"
        src="<%= card.Rarity.rarity_icon %>"
      />

      <!-- Card name and card/set number -->
      <div class="px-2 flex flex-col justify-center items-center text-center">
        <h2 class="text-lg pt-0 mx-4"><%= card.card_name %></h2>

        <p class="text-sm">
          <%=card.CardCollection.numInCollection%> in collection
        </p>
      </div>

      <a
        class="removeFromCollection"
        card="<%=card.card_id%>"
        collection="<%=collection.collection_id%>"
      >
        <button
          class="rounded-full text-canvas my-4 bg-container hover:bg-white h-7 w-7 border-2 transition-colors border-container duration-300 hover:border-red-500 hover:text-black flex items-center justify-center text-xl text-center relative"
        >
          -
        </button>
      </a>
    </div>
  </div>
  <% }) %>
</div>
<%} %>
<!-- Tailwind config -->
<%- include (`tailwindConfig.ejs`) %> <% } %>
