<!DOCTYPE html>
<html>
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Browse All Cards</title>
  </head>
  <!-- Body -->
  <body class="box-border min-h-screen bg-canvas font-kanit flex flex-col">
    <!-- Header Bar -->
    <%- include (`partials/nav.ejs`) %> <%-
    include("partials/sortSearchBar.ejs") %>

    <!-- Main flex box for filter section -->
    <div class="h-16 flex justify-center lg:text-lg">
      <!-- Expansions dropdown -->
      <div
        class="w-1/3 xl:ml-72 h-full flex justify-center items-center relative"
      >
        <button
          id="expansions-button"
          class="px-2 relative border-b border-container border-opacity-20 text-container rounded-md hover:bg-button hover:text-canvas transition-colors"
        >
          Expansions
          <div
            id="expansions-dropdown"
            class="absolute hidden w-44 h-60 overflow-y-auto top-8 left-0 text-left bg-container rounded-md text-canvas flex-col"
          >
            <div role="menu">
              <% sets.forEach((set) => { %>
              <a
                href="/"
                data-set-id="<%= set.set_id %>"
                class="block p-2 hover:bg-button hover:text-gray-900"
                role="menuitem"
                ><%= set.set_name %></a
              >
              <% }) %>
            </div>
          </div>
        </button>
      </div>

      <!-- Rarities Dropdown -->
      <div class="w-1/3 h-full flex justify-center items-center relative">
        <button
          id="rarities-button"
          class="px-2 relative border-b border-container border-opacity-20 text-container rounded-md hover:bg-button hover:text-canvas transition-colors"
        >
          Rarities
          <div
            id="rarities-dropdown"
            class="hidden absolute w-44 h-60 overflow-y-auto top-8 left-0 text-left bg-button rounded-md text-container flex-col"
          >
            <div role="menu">
              <% rarities.forEach((rarity) => { %>
              <a
                href=""
                data-set-id="<%=rarity.rarity_id%>"
                class="block bg-container text-canvas p-2 hover:bg-button hover:text-gray-900"
                role="menuitem"
                ><%= rarity.rarity_description %></a
              >
              <% }) %>
            </div>
          </div>
        </button>
      </div>

      <!-- Types dropdown -->
      <div
        class="w-1/3 xl:mr-72 h-full flex justify-center items-center relative"
      >
        <button
          id="types-button"
          class="px-2 relative border-b border-container border-opacity-20 text-container rounded-md hover:bg-button hover:text-canvas transition-colors"
        >
          Types
          <div
            id="types-dropdown"
            class="hidden absolute w-44 h-60 overflow-y-auto top-8 right-0 md:left-0 text-left rounded-md text-container flex-col"
          >
            <div role="menu">
              <% types.forEach((type) => { %>
              <a
                href=""
                data-set-id="<%=type.type_id%>"
                class="block bg-container text-canvas p-2 hover:bg-button hover:text-gray-900"
                role="menuitem"
                ><%= type.type_description %></a
              >
              <% }) %>
            </div>
          </div>
        </button>
      </div>
    </div>

    <!-- Little boxes for each filter -->
    <% if (numFilters > 0) { %>
    <div class="flex flex-wrap justify-start md:justify-center items-center">
      <div>
        <button
          class="flex justify-center items-center text-sm lg:text-lg px-2 py-1 mx-2 rounded-md shadow-sm bg-container"
        >
          Filters:
        </button>
      </div>
      <% Object.entries(filters).forEach(([key, value]) => { %>
      <button
        class="flex justify-evenly items-center text-sm lg:text-lg px-2 py-1 mx-2 my-2 rounded-md shadow-sm bg-button"
      >
        <p><%= `${key}: ${value} ` %></p>
      </button>
      <% }) %>
      <a class="mx-2 flex" href="/cards">
        <button
          class="flex justify-center items-center font-bold text-sm lg:text-lg px-2 py-1 rounded-md shadow-sm bg-button hover:bg-container transition-colors focus:outline-none focus:border-button focus:ring"
        >
          <img
            class="w-4 h-4 mr-2"
            src="https://cdn-icons-png.flaticon.com/512/66/66847.png"
          />
          Clear
        </button>
      </a>
    </div>

    <% } %>

    <!-- Main grid containing all cards, if any -->
    <% if (cards.length > 0) { %>

    <form action="/cards/compare" method="POST" id="compareform">
      <h2 class="text-center text-3xl text-container py-8 col-span-2">
        All Cards
      </h2>

      <div>
        <button
          type="submit"
          class="bg-button px-2 py-1 rounded-lg text-canvas justify-self-start mx-10 md:mx-20 lg:mx-32 xl:mx-44"
        >
          Compare
        </button>
      </div>
      <div
        class="grid justify-center items-center gap-6 px-4 lg:px-36 ws:px-96 h-full grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ws:grid-cols-5 opacity-0 transition-opacity duration-500 flex-1 overflow-y-auto"
        id="gridDiv"
      >
        <!-- Iterating through each pokemon (row in data) and creates a card object each -->
        <% cards.forEach((card) => { %>

        <div
          class="flex flex-col justify-center items-center bg-canvas bg-opacity-90 text-container rounded-lg"
        >
          <!-- Wrapping the whole card a link -->
          <a
            href="/cards/<%= card.card_id %>"
            class="p-4 flex flex-col justify-center items-center hover:scale-105 max-w-96 min-w-72"
          >
            <!-- Card image -->
            <img src="<%= card.card_image %>" />
          </a>

          <!-- Container for brief card details and add button -->
          <div class="flex justify-evenly items-center rounded-lg px-10">
            <!-- Add to collection button -->
            <img
              class="p-2 max-w-10 min-w-10 filter invert"
              src="<%= card.Rarity.rarity_icon %>"
            />

            <!-- Card name and card/set number -->
            <div
              class="px-2 flex flex-col justify-center items-center text-center"
            >
              <h2 class="text-lg pt-0 mx-4 text-wrap"><%= card.card_name %></h2>

              <p class="text-sm">
                <%=card.card_set_number%>/<%=card.Set.no_of_cards%>
              </p>
            </div>

            <!-- Add to collection button -->
            <% if (user.authen) { %>
            <a
              type="button"
              class="addToCollection"
              card="<%=card.card_id%>"
              collection="<%=collection .collection_id%>"
            >
              <button
                type="button"
                class="rounded-full text-canvas m-4 bg-container hover:bg-white h-7 w-7 border-2 transition-colors border-container duration-300 hover:border-red-500 hover:text-black flex items-center justify-center text-xl text-center relative"
              >
                +
              </button>
            </a>

            <div
              id="popup"
              class="fixed hidden text-canvas max-w-72 text-center z-20 top-1/4 md:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-container p-6 flex-col justify-center items-center shadow-lg rounded-lg"
              
            >
              <p id="popupMessage" class="text-lg mb-4"></p>
              <button
                type="button"
                id="closePopup"
                class="bg-canvas text-container font-bold py-2 px-4 rounded"
              >
                Close
              </button>
            </div>
            <% } else { %>
            <a href="/login">
              <button
                type="button"
                class="rounded-full text-canvas m-4 bg-container hover:bg-white h-7 w-7 border-2 transition-colors border-container duration-300 hover:border-red-500 hover:text-black flex items-center justify-center text-xl text-center relative"
              >
                +
              </button>
            </a>
            <% } %>
          </div>
          <div class="flex text-white justify-center items-center mr-10">
            <input
              class="mx-2"
              type="checkbox"
              value="<%=card.card_id%>"
              name="selectedCards"
            />
            <p>Compare</p>
          </div>
        </div>

        <% }) %>
      </div>
    </form>

    <!-- No cards message -->
    <% } else { %>
    <div
      class="flex-1 overflow-y-auto text-center text-2xl text-container py-6"
    >
      No Cards Found
    </div>
    <% } %> <%- include (`partials/pagebuttons.ejs`) %> <%- include
    (`partials/footer.ejs`) %>
    <script src="/functions/loadCards.js"></script>
    <script src="/functions/cardFilters.js"></script>
    <script src="/functions/swapcolours.js"></script>
    <script src="/functions/addRemoveCards.js"></script>
    <script src="/functions/cardComparisonChecker.js"></script>
    <script>
      window.onload = function () {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach((checkbox) => {
          checkbox.checked = false;
        });
      };
    </script>
  </body>
  <%- include (`partials/tailwindDark.ejs`) %>
</html>
