<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Login</title>
  </head>
  <body class="box-border bg-canvas h-screen flex flex-col font-kanit">
    <%- include (`partials/nav.ejs`) %>

    <!-- Full screen size flexbox -->
    <div class="flex flex-col pt-6 p-2 md:pt-0 md:items-center h-full items-center text-canvas  overflow-y-auto">
      <div class="flex flex-col bg-container w-full rounded-xl">
        <h1 class="text-2xl text-center p-4">User Collections</h1>
        
          <% collections.forEach((collection) => { %>
          <a href="/collections/<%=collection.user_id%>" class="mx-2 my-1 px-2 py-1 text-lg border-b border-gray-500 border-opacity-40 rounded-lg hover:bg-canvas hover:text-container transition-colors duration-300"><%=collection.User.username%>'s Collection</a>
          <% }) %>
        
      </div>
    </div>
    <%- include (`partials/footer.ejs`) %>
  </body>
  <!-- Scripts etc -->
  <%- include (`partials/tailwindConfig.ejs`) %>
</html>
