<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Collections</title>
  </head>
  <body class="box-border bg-canvas flex flex-col font-kanit">
    <%- include (`partials/nav.ejs`) %>

    <!-- Full screen size flexbox -->
    <div
      class="flex flex-col pt-6 p-2 md:pt-0 h-full text-container"
    >
      <!-- Main flex box for filter section -->
      <div class="min-h-16 flex justify-center text-xl">
        <!-- My collection button -->
        <div class="h-full mx-10 flex items-center relative">
          <button
            id="my-collection-button"
            class="px-2 rounded-md relative border-b border-container border-opacity-20 text-canvas bg-container hover:bg-canvas hover:text-container transition-colors"
          >
            My Collection
          </button>
        </div>

        <!-- Rarities Dropdown -->
        <div class="h-full mx-10 flex items-center relative">
          <button
            id="top-collections-button"
            class="px-2 rounded-md relative border-b border-container border-opacity-20 text-container hover:bg-container hover:text-canvas transition-colors"
          >
            Top Collections
          </button>
        </div>
      </div>

      <!-- My Collection -->
      <div id="my-collection" class="flex flex-col w-full">
        <%- include (`partials/myCards.ejs`) %>
      </div>

      <div id="comments-div" class="flex-col hidden w-full">
        <%- include (`partials/collectionComments.ejs`) %>
      </div>

      <div class="rounded-xl hidden self-center flex-col min-w-72" id="top-collections">
        <%- include (`partials/allCollections.ejs`) %>
      </div>


    </div>
    <div
      id="popup"
      class="fixed text-canvas text-center max-w-72 z-20 top-1/4 md:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-container p-6 flex justify-center items-center shadow-lg rounded-lg"
      style="display: none"
    >
      <p id="popupMessage" class="text-lg mb-4"></p>
      <button
        id="closePopup"
        class="bg-canvas text-container font-bold py-2 px-4 rounded"
      >
        Close
      </button>
    </div>

    <%- include (`partials/footer.ejs`) %>

    <script src="functions/removefromcollection.js"></script>
    <script src="functions/collectionsButtonsToggle.js"></script>
    <script src="functions/addRemoveComments.js"></script>
  </body>
  <!-- Scripts etc -->
  <%- include (`partials/tailwindConfig.ejs`) %>
</html>
