<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Catchr</title>
  </head>
  <body
    class="bg-canvas bg-no-repeat bg-center bg-cover font-kanit text-container"
  >
    <main>
      <%- include(`partials/navReduced.ejs`) %>
      <!-- First section Main Area -->
      <div 
        id="overlay"
        class="flex flex-col justify-start bg-black p-12 pb-4 bg-opacity-0 transition-all duration-1000 relative"
      >   
        <!-- Title -->
        <h1
          class="font-eightbit text-5xl md:text-xxxxl lg:xxxxxl text-center opacity-0 mt-72 transition-all duration-1000"
          id="bigtitle"
        >
          Catchr
        </h1>

        <!-- Subtitle -->
        <div
          id="subtitle"
          class="opacity-0 transition-all delay-1000 duration-1000"
        >
          <h2
            class="text-container py-2 rounded-lg text-lg md:text-3xl font-bold text-center m-12"
          >
            Your Pokémon Journey Starts Here
          </h2>
        </div>

        <!-- Buttons -->
        <div
          class="flex justify-center opacity-0 transition-opacity delay-1000 duration-1000"
          id="buttonbox"
        >
          <a href="<%= user.authen ?  '/mycollection' : 'register'%>" class="">
            <button
              class="bg-button hover:bg-container text-container hover:text-canvas rounded-md md:my-12 mx-4 py-2 px-4 md:px-4 text-center md:text-xl transition-colors font-bold"
            >
              <%= user.authen ? "My Collection" : "Sign Up" %>
            </button>
          </a>
        </div>
      </div>

      <!-- Second section -->
      <div class="bg-container bg-cover bg-no-repeat text-text">
        <div class="bg-black bg-opacity-20 flex justify-center p-6">
          <!-- container for image and text -->
          <div
            class="flex flex-col md:py-12 justify-evenly md:flex-row max-w-[1280px]"
          >
            <!-- Image div left side -->
            <div
              class="md:w-1/2 flex justify-evenly md:flex-row items-center py-6 px-3"
            >
              <img
                class="w-52 md:w-64 lg:w-72 xl:w-96 max-w-96 mx-6"
                src="/images/pokemonImages/lugia.png"
              />
            </div>
            <!-- right side -->
            <div class="md:w-1/2 p-4 md:p-8 flex items-center">
              <!-- Text div -->
              <div
                class="md:m-8 p-6 flex flex-col justify-center items-center text-centerrounded-lg"
              >
                <h2
                  class="text-container-700 text-lg md:text-xl lg:text-2xl font-bold border-b border-white border-opacity-50 p-2"
                >
                  Explore the Pokémon universe at your fingertips
                </h2>
                <p
                  class="text-md text-container-700 p-2 text-md md:text-lg lg:text-xl"
                >
                  Explore the latest cards, immerse yourself in nostalgia, or
                  find your new favourite Pokémon with our extensive card
                  database.
                </p>
                <a href="/cards">
                  <button
                    class="bg-button hover:bg-canvas text-container transition-colors rounded-md md:m-6 text-center md:text-xl font-bold py-2 px-10"
                  >
                    Browse Cards
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Third section -->
      <div class="bg-canvas">
        <div class="h-full py-6 w-full flex justify-center text-container">
          <!-- Main second content container -->
          <div
            class="flex flex-col-reverse xl:py-12 justify-evenly md:flex-row md:mr-10 md:ml-10 max-w-[1920px]"
          >
            <!-- left container -->
            <div class="md:w-1/2 xl:w-1/3 p-8 flex justify-center items-center">
              <!-- Text box -->
              <div
                class="md:m-8 p-6 max-w-96 flex flex-col justify-center items-center text-center bg-white rounded-lg"
              >
                <h2
                  class="container font-bold text-md md:text-xl lg:text-2xl border-b border-white border-opacity-50 p-2"
                >
                  Craft your ultimate Pokémon card collection, effortlessly.
                </h2>
                <p class="container p-2 text-md md:text-lg lg:text-xl">
                  Create collections, share them with your friends, and track
                  your journey over time.
                </p>
                <a href="/collections/topcollections">
                  <button
                    class="bg-button  hover:bg-container text-container hover:text-canvas transition-colors rounded-md md:my-6 md:text-xl text-center font-bold py-2 px-10"
                  >
                    Top Collections
                  </button>
                </a>
              </div>
            </div>

            <!-- Right container cards grid -->
            <div
              class="mx-4 mt-4 md:w-1/2 w-screen:w-2/3 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 ws:grid-cols-4 gap-6 justify-self-center justify-items-center font-bold place-items-center"
            >
              <!-- Charizard -->
              <div class="hidden lg:block">
                <img
                  src="https://static.tcgcollector.com/content/images/3f/42/f1/3f42f174dfc7059a68843755abf9f70d08a730740f01a5a0d063f5b0aad23140.jpg"
                />
              </div>
              <!-- Blastoise  -->
              <div class="hidden lg:block">
                <img
                  src="https://static.tcgcollector.com/content/images/c6/71/66/c67166d1dec268dcd0504cf2d5c512be427c02ee60f64309e7f742ee06433342.jpg"
                />
              </div>
              <!-- Venusaur -->
              <div class="hidden lg:block">
                <img
                  src="https://static.tcgcollector.com/content/images/cb/8a/35/cb8a3526fef2c6138975c7ec2f85df7c705e7bb6885a49487aa5104eb8c6fe3c.jpg"
                />
              </div>
              <!-- Gyarados -->
              <div class="hidden ws:block">
                <img
                  src="https://static.tcgcollector.com/content/images/b2/bf/e5/b2bfe5c2582682246d792a6331b674c2f9c0d9eddb96eee99695a08dfb98bf37.jpg"
                />
              </div>
              <!-- pikachu -->
              <div class="hidden md:block lg:hidden">
                <img
                  src="https://static.tcgcollector.com/content/images/c5/90/33/c59033b94b1732ae744af453d0862d3ba56c8b30093a0cf63d0203575ee4b223.jpg"
                />
              </div>
              <!-- raichu -->
              <div class="hidden md:block lg:hidden">
                <img
                  src="https://static.tcgcollector.com/content/images/d2/47/99/d24799f1710c2652fd019a28af96d4ddef15ab31e365d31a682a49ee1cec01ab.jpg"
                />
              </div>

              <!-- snorlax -->
              <div class="md:hidden mx-4 max-w-72">
                <img
                  src="https://static.tcgcollector.com/content/images/e2/ef/77/e2ef778918b60c59823d3bf303d930d5c786431712c2a7ef6a079bb332ea0e71.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Fourth Section - Log In -->
      <div class="bg-container bg-cover bg-no-repeat text-text">
        <!-- Overlay div -->
        <div class="flex justify-center">
          <!-- Icon -->

          <div
            class="hidden md:w-1/3 md:flex justify-center items-center"
          ></div>
          <!-- Text Box -->
          <div
            class="lg:w-1/3 min-w-80 m-4 lg:m-8 py-4 md:my-16 p-4 xl:p-16 rounded-lg flex flex-col justify-center items-center"
          >
            <!-- Header -->
            <h2
              class="text-2xl lg:text-3xl text-center py-4 px-6 my-6 rounded-lg text-container font-bold bg-button"
            >
              Ready to get started?
            </h2>

            <!-- Header -->
            <h2
              class="text-lg lg:text-xl text-center px-6 py-4 my-6 rounded-lg text-container font-bold bg-button"
            >
              Sign up for a free account now.
            </h2>

            <!-- Buttons -->
            <div class="py-6 text-2xl flex justify-center">
              <a href="/register" class="px-4">
                <button
                  class="bg-button  hover:bg-canvas transition-colors duration-500 rounded-md py-2 px-6 md:px-8 xl:px-10 text-center md:text-xl text-container font-bold shadow-md"
                >
                  Sign Up
                </button>
              </a>
              <a href="/login" class="px-4">
                <button
                  class="bg-button  hover:bg-canvas transition-colors duration-500 rounded-md py-2 px-6 md:px-8 xl:px-10 text-center md:text-xl text-container  font-bold shadow-md"
                >
                  Log In
                </button>
              </a>
            </div>
          </div>

          <!-- Icon -->
          <div
            class="hidden md:w-1/3 md:flex justify-center items-center"
          ></div>
        </div>
      </div>

      <%- include (`partials/footer.ejs`) %>
    </main>

    <script src="/functions/loadhome.js"></script>
  </body>
  <!-- Scripts etc -->
  <%- include (`partials/tailwindConfig.ejs`) %>
</html>
