<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Login</title>
  </head>
  <body
    class="box-border bg-canvas h-screen flex flex-col font-oswald text-text"
  >
    <%- include (`partials/nav.ejs`) %>

    <!-- Full screen size flexbox -->
    <div
      class="py-6 md:py-0 flex justify-center items-start md:items-center flex-1 overflow-y-auto"
    >
      <!-- Login Box -->
      <div
        class="flex flex-col justify-center items-center border border-text bg-container p-8 rounded shadow-md h-fit w-10/12 md:w-1/2 lg:w-1/3 ws:w-1/6 ws:m-20"
      >
        <!-- Header Line -->
        <h2 class="text-2xl font-bold mb-4 text-white text-center">Log In</h2>

        <!-- Main form -->
        <form
          method="POST"
          action="/login"
          class="h-full flex flex-col justify-between w-5/6"
        >
          <div class="m-4">
            <!-- Username box -->
            <label for="username" class="block text-lg font-medium text-white"
              >Username/Email
            </label>
            <input
              type="text"
              name="username"
              class="mt-1 block text-black w-full h-1/2 rounded-md border-gray-300 shadow-sm"
              minlength="3"
              required
            />
          </div>

          <!-- Password box -->
          <div class="m-4">
            <label for="password" class="block text-lg  font-medium text-white"
              >Password</label
            >
            <input
              type="password"
              name="password"
              class="mt-1 block w-full h-1/2 rounded-md text-black border-gray-300 shadow-sm"
              required
            />
          </div>

          <!-- Submit button -->
          <div class="h-1/6 m-4 flex justify-center">
            <button
              type="submit"
              class="py-1 px-4 mx-2 min-w-24 font-semibold md:hidden lg:block bg-button hover:bg-container border-2 border-container hover:border-text box-border hover:text-canvas transition-colors text-container rounded-lg text-center"
            >
              Log In
            </button>
          </div>

          <% if (message) { %>
          <p class="text-white text-center"><%= message %></p>
          <% } %>
          <a href="/register" class="text-white text-center underline"
            >Don't have an account yet? Sign Up</a
          >
        </form>
      </div>
    </div>

    <%- include (`partials/footer.ejs`) %>
  </body>
  <!-- Scripts etc -->
  <%- include (`partials/tailwindConfig.ejs`) %>
</html>
