<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Login</title>
  </head>
  <body class="box-border bg-canvas h-screen flex flex-col font-kanit">
    <%- include (`partials/nav.ejs`) %>

    <!-- Full screen size flexbox -->
    <div
      class="flex items-start pt-6 md:pt-0 md:items-center justify-center flex-1"
    >
      <!-- My account box -->
      <div
        class="flex flex-col justify-center items-center border-4 bg-container p-8 lg: my-10 rounded-lg shadow-md h-fit w-10/12 md:w-1/2 lg:w-1/4 ws:m-20 text-text"
      >
        <!-- Header -->
        <h1 class="text-3xl text-text text-center font-bold m-2">
          Account Details
        </h1>

        <!-- Username box -->
        <div
          class="text-center items-center flex justify-between w-full m-2 p-2 md:p-4 text-text text-sm md:text-lg lg:text-xl border-2 border-gray-600 border-opacity-50 rounded-lg"
        >
          <p>Username:</p>
          <p><%= user.username %></p>
        </div>
        <!-- Email box -->
        <div
          class="text-center items-center flex justify-between w-full m-2 p-2 md:p-4 text-text text-sm md:text-lg lg:text-xl border-2 border-gray-600 border-opacity-50 rounded-lg"
        >
          <p>Email Address:</p>
          <p><%= user.email %></p>
        </div>
        <!-- Update details box-->
        <div
          class="text-container text-sm md:text-base lg:text-lg text-center w-full m-2 flex flex-col md:flex-row justify-between md:justify-evenly"
        >
          <a href="/myaccount/updatedetails">
            <button
              class="bg-button min-w-[250px] max-w-[350px] w-full hover:bg-white transition-colors duration-500 rounded-lg py-2 px-2 my-2 font-bold"
            >
              Update Personal Details
            </button>
          </a>
        </div>
        <!-- Change password box -->
        <div
          class="text-container text-sm md:text-base lg:text-lg text-center w-full m-2 flex flex-col md:flex-row justify-between md:justify-evenly"
        >
          <a href="/myaccount/changepassword">
            <button
              class="bg-button min-w-[250px] max-w-[350px] w-full hover:bg-white transition-colors duration-500 rounded-lg py-2 my-2 px-8 font-bold"
            >
              Change password
            </button>
          </a>
        </div>
        <!-- My comments box -->
        <div
          class="text-container text-sm md:text-base lg:text-lg text-center w-full m-2 flex flex-col md:flex-row justify-between md:justify-evenly"
        >
          <a href="/myaccount/mycomments">
            <button
              class="bg-button min-w-[250px] max-w-[350px] w-full hover:bg-white transition-colors duration-500 rounded-lg py-2 my-2 px-8 font-bold"
            >
              My Comments
            </button>
          </a>
        </div>
        <!-- My likes box -->
        <div
          class="text-container text-sm md:text-base lg:text-lg text-center w-full m-2 flex flex-col md:flex-row justify-between md:justify-evenly"
        >
          <a href="/myaccount/mylikes">
            <button
              class="bg-button min-w-[250px] max-w-[350px] w-full hover:bg-white transition-colors duration-500 rounded-lg py-2 my-2 px-8 font-bold"
            >
              Liked Collections
            </button>
          </a>
        </div>
        <!-- Delete account box -->
        <div
          class="text-container text-sm md:text-base lg:text-lg text-center w-full m-2 flex flex-col md:flex-row justify-between md:justify-evenly"
        >
          <a href="" id="deleteAccount">
            <button
              class="bg-red-600 min-w-[250px] max-w-[350px] w-full text-white hover:bg-white hover:text-black transition-colors duration-500 rounded-lg py-2 my-2 px-8 font-bold"
            >
              Delete Account
            </button>
          </a>
        </div>
      </div>
    </div>
    <script src="/functions/deleteAccount.js"></script>
    <%- include (`partials/footer.ejs`) %>
  </body>
  <!-- Scripts etc -->
  <%- include (`partials/tailwindConfig.ejs`) %>
</html>
