<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Collections</title>
  </head>
  <body class="box-border bg-canvas flex flex-col font-kanit min-h-screen">
    <%- include (`partials/nav.ejs`) %>

    <!-- Full screen size flexbox -->
    <div class="flex flex-col flex-1 pt-6 p-2 md:pt-0 text-container h-full">
      
      <!-- Header -->
      <div class="flex items-center justify-center">
        <h2
          class="text-center self-center m-10 text-3xl font-bold bg-container px-4 py-2 rounded-lg text-canvas max-w-[660px]"
        >
          My Collection
        </h2>
      </div>

      <!-- My Collection -->
      <div id="my-collection" class="flex flex-col w-full">
        <!-- FIrst, checking if the user is logged in -->
        <% if (!user.authen) { %>

        <div class="self-center flex text-xl items-center justify-center">
          <p>
            <a href="/login" class="underline text-blue-600">Sign in</a> to view
            your collection!
          </p>
        </div>
        <!-- If not logged in, show sign in prompt -->
        <% } else { %>

        <!-- Redirecting if collection is empty -->
        <% if (collection.Cards.length == 0) { %>
        <div class="flex-grow">
          <div
            class="container mx-auto my-10 flex justify-center items-center h-full"
          >
            <div class="text-center">
              <p class="text-2xl mb-4">Your collection is empty.</p>
              <img
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                alt="Pikachu"
                class="w-48 mx-auto"
              />
              <p class="mt-4 text-xl">
                Why not
                <a href="/cards" class="text-blue-500">find some cards</a> to
                add?
              </p>
            </div>
          </div>
        </div>

        <%} else { %>

        <!--Collection statistics -->
        <%- include ("partials/statsBar.ejs") %>

        <!-- Box for cards/comments buttons -->
        <div class="flex justify-start px-4 lg:px-36 ws:px-96">
          <!-- Cards button -->
          <button
            id="cards-button"
            class="px-2 m-4 relative border-b border-container border-opacity-20 text-container bg-canvas hover:bg-container hover:text-canvas rounded-md transition-colors"
          >
            Cards
          </button>

          <!-- Comments button -->
          <button
            id="comments-button"
            class="px-2 m-4 relative border-b border-container border-opacity-20 text-container bg-canvas hover:bg-container hover:text-canvas rounded-md transition-colors"
          >
            Show Comments
          </button>
        </div>

        <!-- Container for cards and buttons -->
        <div class="flex w-full justify-center items-start">
          <!-- Grid for cards -->
          <div
            class="grid lg:grid justify-center items-center gap-6 px-4 lg:px-12 ws:px-96 h-full grid-cols-1 md:grid-cols-2 xl:grid-cols-3 lg:w-full"
            id="gridDiv"
          >
            <!-- Iterating through each pokemon (row in data) and creates a card object each -->
            <% cards.forEach((card) => { %>

            <div
              class="flex flex-col justify-center items-center bg-canvas text-black text-container rounded-lg"
            >
            <%- include ("partials/card/cardLink.ejs", {card: card}) %>

              <!-- Container for brief card details and add button -->
              <div class="flex justify-evenly items-center rounded-lg">
         

                <%- include ("partials/card/cardInfoBox.ejs", {card: card}) %>
              </div>
            </div>
            <% }) %>
          </div>

          <%- include("partials/commentsDiv.ejs") %>
        </div>

        <%}} %>
      </div>
    </div>

    <!-- Popup dialogue -->
    <div
      id="popup"
      class="fixed hidden flex-col text-canvas text-center max-w-72 z-20 top-1/4 md:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-container p-6 justify-center items-center shadow-lg rounded-lg"
    
    >
      <p id="popupMessage" class="text-lg mb-4"></p>
      <button
        id="closePopup"
        class="bg-canvas text-container font-bold py-2 px-4 rounded"
      >
        Close
      </button>
    </div>

    <%- include (`partials/footer.ejs`) %>

    <script src="/functions/addRemoveCards.js"></script>
    <script src="/functions/commentsButtonsToggle.js"></script>
    <script src="/functions/addRemoveComments.js"></script>
    <script src="/functions/swapcolours.js"></script>
  </body>
  <!-- Scripts etc -->
  <%- include (`partials/tailwindDark.ejs`) %>
</html>
