<!DOCTYPE html>
<html>
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Browse All Cards</title>
  </head>
  <!-- Body -->
  <body class="box-border h-screen bg-canvas">
    <!-- Header Bar -->
    <%- include (`partials/nav.ejs`) %>
    <!-- Main container with card and description -->
    <div
      class="flex flex-col md:flex-row justify-evenly items-center px-4 lg:px-36 ws:px-96 md:py-8 pb-8 opacity-0 transition-opacity duration-500 overflow-y-auto flex-1"
      id="gridDiv"
    >
      <!-- Card Image -->
      <div
        class="m-4 flex flex-col justify-center items-center hover:scale-105 max-w-96 min-w-72"
      >
        <img src="<%= card.card_image %>" />
      </div>

      <!-- Details table -->
      <div
        class="rounded-md m-2 w-full flex flex-col max-w-[660px] text-container bg-canvas"
      >
        <!-- Row 1 -->
        <div class="flex justify-between w-full">
          <h1
            class="text-2xl font-bold m-4 mb-0 border-b-2 border-gray-500 border-opacity-50"
          >
            <%=card.card_name%>
          </h1>

          <% if (card.hp) { %>
          <h2 class="text-xl m-4 mb-0"><%=card.hp%> HP</h2>
          <% } %>
        </div>

        <!-- Row 2 -->
        <div class="flex justify-between w-full my-2">
          <h3 class="text-lg mx-4"><%=card.Category.category_description%></h3>

          <% if (card.type_id) { %>
          <h3 class="text-lg m-4"><%=card.Type.type_description%> Type</h3>
          <% } %>
        </div>

        <!-- Ability 1 -->
        <% if (card.Abilities.length > 0) { %>
        <!-- Full length flexbox -->
        <div class="flex justify-between w-full items-center">
          <!-- Left side container with ability name and cost -->
          <div class="flex">
            <div class="flex justify-evenly items-center">
              <!-- Symbols -->
              <div class="flex justify-center items-center px-2">
                <% for (let i = 0; i< card.ability1cost1; i++) { %>
                <!-- Ability 1 primary type -->
                <img class="h-10 py-2 px-1" src="<%= card.ability1icon1%>" />
                <%} %>
                <!-- Ability 1 secondary type-->
                <% for (let i = 0; i< card.ability1cost2; i++) {%>
                <img class="h-10 py-2 px-1" src="<%= card.ability1icon2%>" />
                <%} %>
                <% if (card.Abilities[0].pokemon_power) { %>
                  <div class="border-2 rounded-lg px-2 border-container text-container font-bold">Pokemon Power</div>
                <% } %>
              </div>
              <!-- Ability 1 Name -->
              <div class="text-lg"><%= card.Abilities[0].ability_name %></div>
            </div>
          </div>

          <!-- Ability 1 damage -->
          <div class="text-lg px-2">
            <%= card.Abilities[0].ability_damage %>
          </div>
        </div>
        <!-- Ability 1 descripton -->
        <p class="text-sm px-2 pl-6 py-3 italic">
          <%= card.Abilities[0].ability_description %>
        </p>
        <% } %>
        <!-- Ability 2 -->
        <% if (card.Abilities.length > 1) { %>
        <!-- Full length flexbox -->
        <div class="flex justify-between w-full items-center px-2">
          <!-- Left side container with ability name and cost -->
          <div class="flex">
            <!-- Symbols div -->
            <div class="flex justify-evenly items-center">
              <div class="flex justify-center items-center">
                <!-- Ability Primary cost -->
                <% for (let i = 0; i< card.ability2cost1; i++) { %>
                <img class="h-10 py-2 px-1" src="<%= card.ability2icon1 %>" />
                <%} %>

                <!-- Ability 2 -->
                <% for (let i = 0; i< card.ability2cost2; i++) {%>
                <img class="h-10 py-2 px-1" src="<%= card.ability2icon2 %>" />
                <%} %>
              </div>

              <!-- Ability name -->
              <div class="text-lg"><%= card.Abilities[1].ability_name %></div>
            </div>
          </div>

          <!-- Right side flexbox with ability damage -->
          <div class="text-lg px-2">
            <%= card.Abilities[1].ability_damage %>
          </div>
        </div>
        <!-- Ability 2 description -->
        <p class="text-sm px-2 pl-6 p-3 italic">
          <%= card.Abilities[1].ability_description %>
        </p>

        <% } %>

        <div class="flex text-sm md:text-base">
          <% if (card.hp ) { %>
          <div class="w-1/2 border-r border-text border-opacity-30">
            <!-- Weakness -->
            <% if (card.weakness_description) {%>
            <div class="flex justify-between items-center px-4">
              <h3>Weakness:</h3>
              <div class="flex items-center">
                <img class="p-2 h-10" src="<%= card.weakness_icon %>" />
                <p>x <%= card.weakness_amount %></p>
              </div>
            </div>
            <% } %> <% if (card.resistance_description) {%>
            <!-- Resistance -->
            <div class="flex justify-between items-center px-4">
              <h3>Resistance:</h3>
              <div class="flex items-center">
                <img class="p-2 h-10" src="<%= card.resistance_icon %>" />
                <p>x <%= card.resistance_amount %></p>
              </div>
            </div>
            <%} %> <% if (card.retreat_description) {%>
            <div class="flex justify-between items-center px-4">
              <h3>Retreat Cost:</h3>
              <div class="flex items-center">
                <img class="p-2 h-10" src="<%= card.retreat_icon %>" />
                <p>x <%= card.retreat_cost %></p>
              </div>
            </div>
            <% } %>
          </div>
          <% } %>

          <div class="w-1/2">
            <!-- Set -->
            <div class="flex justify-between items-center px-4 py-2">
              <h3>Set:</h3>

              <p><%= card.Set.set_name %></p>
            </div>

            <!-- Card number -->
            <div class="flex justify-between items-center px-4 py-2">
              <h3>Card number:</h3>

              <p><%= card.card_set_number %> / <%= card.Set.no_of_cards %></p>
            </div>
            <!-- Rarity -->
            <div class="flex justify-between items-center px-4 py-2">
              <h3>Rarity:</h3>
              <div class="flex items-center">
                <img
                  class="p-2 filter invert"
                  src="<%= card.Rarity.rarity_icon %>"
                />
                <p><%= card.Rarity.rarity_description %></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Description -->
        <% if (card.card_description) { %>
        <div class="flex justify-between">
          <h3 class="m-4 w-1/2">Description</h3>
          <p class="text-sm italic mx-6 my-2 text-end w-1/2">
            <%= card.card_description %>
          </p>
        </div>

        <% } %>

        <!-- Height and Weight -->
        <% if (card.height_weight) { %>
        <div class="flex justify-between items-center px-4 py-2">
          <h3 class="w-1/2">Height/Weight</h3>
          <p class="text-sm text-end w-1/2 italic"><%= card.height_weight %></p>
        </div>
        <% } %>

        <!-- Illustrator -->
        <div class="flex justify-between items-center px-4 py-4">
          <h3 class="w-1/2">Illustrators</h3>
          <p class="text-end w-1/2"><%= card.Illustrator.illustrator_name %></p>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex justify-center mb-12 text-center" id="buttonbox">
      <a href="/cards" class="">
        <button
          class="bg-button hover:text-white hover:text-container rounded-md mx-4 py-2 px-4 md:px-4 text-center md:text-xl transition-colors font-bold"
        >
          Back to Cards
        </button>
      </a>
      <% if (user.authen) { %>
        <a
        class="addToCollection" card="<%=card.card_id%>" collection="<%=collection.collection_id%>"
      >
        <button
          class="bg-button hover:text-white hover:text-container rounded-md mx-4 py-2 px-4 md:px-4 text-center md:text-xl transition-colors font-bold"
        >
          Add to Collection
        </button>
      </a>
      <%} %>

    </div>

    <!-- Popup dialogue -->
    <div
    id="popup"
    class="fixed hidden text-canvas max-w-72 text-center z-20 top-1/4 md:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-container p-6 flex-col justify-center items-center shadow-lg rounded-lg"
    
  >
    <p id="popupMessage" class="text-lg mb-4"></p>
    <button
      type="button"
      id="closePopup"
      class="bg-canvas text-container font-bold py-2 px-4 rounded"
    >
      Close
    </button>
  </div>

    <%- include (`partials/footer.ejs`) %>
    <script src="/functions/addRemoveCards.js"></script>
    <script src="/functions/loadCards.js"></script>
    <script src="/functions/swapcolours.js"></script>
  </body>
  <%- include (`partials/tailwindDark.ejs`) %>
</html>
