<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Collections</title>
  </head>
  <body class="box-border bg-canvas flex flex-col font-kanit">
    <%- include (`partials/nav.ejs`) %>

    <!-- Full screen size flexbox -->
    <div
      class="flex flex-col pt-6 p-2 md:pt-0 h-full text-container justify-center items-center"
    >
          <!-- Container for "my collection" or "top collections" -->
          <div class="min-h-16 flex justify-center items-center text-xl my-4">
            <!-- My collection button -->
            <a
              href="/collections/mycollection"
              class="h-full mx-10 flex items-center relative"
            >
              <button
                id="my-collection-button"
                class="px-2 rounded-md relative border-b border-container border-opacity-20 text-container bg-canvas hover:bg-container hover:text-canvas transition-colors"
              >
                My Collection
              </button>
            </a>
    
            <!-- Rarities Dropdown -->
            <a
              href="/collections/topcollections"
              class="h-full mx-10 flex items-center relative"
            >
              <button
                id="top-collections-button"
                class="px-2 rounded-md relative border-b border-container border-opacity-20 text-canvas bg-container transition-colors"
              >
                Top Collections
              </button>
            </a>
          </div>

      <!-- All collections -->

      <!-- Header -->
      <h1 class="text-2xl text-center p-4">User Collections</h1>

      <!-- Column for containng the collections -->
      <div class="flex flex-col max-w-[960px]">
        <!-- User / Rating hjeader -->
        <div class="grid grid-cols-3 gap-28 py-2 px-2 m-1 border-2 border-black rounded-lg">
          <div>User</div>
          <div>Likes</div>
        </div>

        <!-- Line for each collection -->
        <% collections.forEach((collection) => { %>
        <div
          class="text-lg py-2 px-2 m-1 border-2 border-black text-left rounded-lg hover:bg-canvas hover:text-container transition-colors duration-300"
        >
          <div class="grid grid-cols-3 gap-28 justify-evenly">
            <p><%=collection.User.username%></p>

            <p><%=collection.numLikes%></p>
            <a
              class="justify-self-end text-container text-sm"
              href="/collections/<%=collection.collection_id%>"
            >
              <button class="text-center py-1 px-4 bg-button rounded-md">
                Go
              </button>
            </a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <%- include (`partials/footer.ejs`) %>
  </body>
  <!-- Scripts etc -->
  <%- include (`partials/tailwindConfig.ejs`) %>
</html>
