<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include (`partials/header.ejs`) %>
    <title>Register</title>
  </head>
  <body
    class="box-border bg-canvas min-h-screen font-kanit"
  >
    <!-- navbar -->
    <div><%- include (`partials/nav.ejs`) %></div>
<!-- Confirmation Box -->
    <div class="flex flex-col justify-center items-center flex-1 overflow-y-auto">
      
      <div
        class="flex flex-col justify-center items-center  lg:p-16 h-5/6 w-full lg:w-1/3 justify-self-center"
      >
        <!-- Header Line -->
        <div class="rounded-lg">
          <h2 class="text-4xl font-bold text-container text-center p-6">
            Welcome, <%= user %>!
          </h2>
        </div>
        <!--  Cute pikachu picture -->
        <img src="images/siteIcons/pikachu.png" />

        <!-- Login button -->
        <button
        class="w-1/4 h-1/2 bg-button py-2 m-8 rounded-3xl text-center text-container border-2 border-container hover:bg-black hover:text-text hover:transition-colors duration-300"
      >
        <a href="/login">Log In</a>
      </button>
      </div>

    </div>
    
  </body>
  <%- include (`partials/footer.ejs`) %>
</html>
<%- include (`partials/tailwindConfig.ejs`) %>
